---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/organisation/github-repo/pulls/6558
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token blah
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1408476853'
      Last-Modified:
      - Tue, 19 Aug 2014 19:03:30 GMT
      Etag:
      - '"febb5920fa649b8e230e9d0fd5264f38"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/organisation/github-repo/pulls/6558","id":19973468,"html_url":"https://github.com/organisation/github-repo/pull/6558","diff_url":"https://github.com/organisation/github-repo/pull/6558.diff","patch_url":"https://github.com/organisation/github-repo/pull/6558.patch","issue_url":"https://api.github.com/repos/organisation/github-repo/issues/6558","number":6558,"state":"open","locked":false,"title":"Team:
        My new wizzo bang feature","user":{"login":"mrship","id":14839,"avatar_url":"https://avatars.githubusercontent.com/u/14839?v=2","gravatar_id":"b026b250773e2e4b35001bef3ac94ddc","url":"https://api.github.com/users/mrship","html_url":"https://github.com/mrship","followers_url":"https://api.github.com/users/mrship/followers","following_url":"https://api.github.com/users/mrship/following{/other_user}","gists_url":"https://api.github.com/users/mrship/gists{/gist_id}","starred_url":"https://api.github.com/users/mrship/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mrship/subscriptions","organizations_url":"https://api.github.com/users/mrship/orgs","repos_url":"https://api.github.com/users/mrship/repos","events_url":"https://api.github.com/users/mrship/events{/privacy}","received_events_url":"https://api.github.com/users/mrship/received_events","type":"User","site_admin":false},"body":"
        ","created_at":"2014-08-19T11:07:22Z","updated_at":"2014-08-19T11:14:04Z","closed_at":null,"merged_at":null,"merge_commit_sha":"c5b894db35c70c70c4f22df62e875def7ab4d772","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/organisation/github-repo/pulls/6558/commits","review_comments_url":"https://api.github.com/repos/organisation/github-repo/pulls/6558/comments","review_comment_url":"https://api.github.com/repos/organisation/github-repo/pulls/comments/{number}","comments_url":"https://api.github.com/repos/organisation/github-repo/issues/6558/comments","statuses_url":"https://api.github.com/repos/organisation/github-repo/statuses/b5d821c03a571267df3868d11dba1ef68e00a8cb","head":{"label":"organisation:branch","ref":"branch","sha":"b5d821c03a571267df3868d11dba1ef68e00a8cb","user":{"login":"organisation","id":1234567,"avatar_url":"https://avatars.githubusercontent.com/u/1234567?v=2","gravatar_id":"d8db298b62716cc389471867da61ddb6","url":"https://api.github.com/users/organisation","html_url":"https://github.com/organisation","followers_url":"https://api.github.com/users/organisation/followers","following_url":"https://api.github.com/users/organisation/following{/other_user}","gists_url":"https://api.github.com/users/organisation/gists{/gist_id}","starred_url":"https://api.github.com/users/organisation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/organisation/subscriptions","organizations_url":"https://api.github.com/users/organisation/orgs","repos_url":"https://api.github.com/users/organisation/repos","events_url":"https://api.github.com/users/organisation/events{/privacy}","received_events_url":"https://api.github.com/users/organisation/received_events","type":"Organization","site_admin":false},"repo":{"id":344965,"name":"organisation-Web-App","full_name":"organisation/github-repo","owner":{"login":"organisation","id":142723,"avatar_url":"https://avatars.githubusercontent.com/u/142723?v=2","gravatar_id":"d8db298b62716cc389471867da61ddb6","url":"https://api.github.com/users/organisation","html_url":"https://github.com/organisation","followers_url":"https://api.github.com/users/organisation/followers","following_url":"https://api.github.com/users/organisation/following{/other_user}","gists_url":"https://api.github.com/users/organisation/gists{/gist_id}","starred_url":"https://api.github.com/users/organisation/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/organisation/subscriptions","organizations_url":"https://api.github.com/users/organisation/orgs","repos_url":"https://api.github.com/users/organisation/repos","events_url":"https://api.github.com/users/organisation/events{/privacy}","received_events_url":"https://api.github.com/users/organisation/received_events","type":"Organization","site_admin":false},"private":true,"html_url":"https://github.com/organisation/github-repo","description":"
        ","fork":false,"url":"https://api.github.com/repos/organisation/github-repo","forks_url":"https://api.github.com/repos/organisation/github-repo/forks","keys_url":"https://api.github.com/repos/organisation/github-repo/keys{/key_id}","collaborators_url":"https://api.github.com/repos/organisation/github-repo/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/organisation/github-repo/teams","hooks_url":"https://api.github.com/repos/organisation/github-repo/hooks","issue_events_url":"https://api.github.com/repos/organisation/github-repo/issues/events{/number}","events_url":"https://api.github.com/repos/organisation/github-repo/events","assignees_url":"https://api.github.com/repos/organisation/github-repo/assignees{/user}","branches_url":"https://api.github.com/repos/organisation/github-repo/branches{/branch}","tags_url":"https://api.github.com/repos/organisation/github-repo/tags","blobs_url":"https://api.github.com/repos/organisation/github-repo/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/organisation/github-repo/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/organisation/github-repo/git/refs{/sha}","trees_url":"https://api.github.com/repos/organisation/github-repo/git/trees{/sha}","statuses_url":"https://api.github.com/repos/organisation/github-repo/statuses/{sha}","languages_url":"https://api.github.com/repos/organisation/github-repo/languages","stargazers_url":"https://api.github.com/repos/organisation/github-repo/stargazers","contributors_url":"https://api.github.com/repos/organisation/github-repo/contributors","subscribers_url":"https://api.github.com/repos/organisation/github-repo/subscribers","subscription_url":"https://api.github.com/repos/organisation/github-repo/subscription","commits_url":"https://api.github.com/repos/organisation/github-repo/commits{/sha}","git_commits_url":"https://api.github.com/repos/organisation/github-repo/git/commits{/sha}","comments_url":"https://api.github.com/repos/organisation/github-repo/comments{/number}","issue_comment_url":"https://api.github.com/repos/organisation/github-repo/issues/comments/{number}","contents_url":"https://api.github.com/repos/organisation/github-repo/contents/{+path}","compare_url":"https://api.github.com/repos/organisation/github-repo/compare/{base}...{head}","merges_url":"https://api.github.com/repos/organisation/github-repo/merges","archive_url":"https://api.github.com/repos/organisation/github-repo/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/organisation/github-repo/downloads","issues_url":"https://api.github.com/repos/organisation/github-repo/issues{/number}","pulls_url":"https://api.github.com/repos/organisation/github-repo/pulls{/number}","milestones_url":"https://api.github.com/repos/organisation/github-repo/milestones{/number}","notifications_url":"https://api.github.com/repos/organisation/github-repo/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/organisation/github-repo/labels{/name}","releases_url":"https://api.github.com/repos/organisation/github-repo/releases{/id}","created_at":"2009-10-21T16:09:50Z","updated_at":"2014-08-19T07:33:36Z","pushed_at":"2014-08-19T18:57:48Z","git_url":"git://github.com/organisation/github-repo.git","ssh_url":"git@github.com:organisation/github-repo.git","clone_url":"https://github.com/organisation/github-repo.git","svn_url":"https://github.com/organisation/github-repo","homepage":"www.organisation.com","size":664779,"stargazers_count":6,"watchers_count":6,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"forks_count":0,"mirror_url":null,"open_issues_count":40,"forks":0,"open_issues":40,"watchers":6,"default_branch":"master"}},"base":{"label":"organisation:master","ref":"master","sha":"fd07ec935ec02c4bac8e451dec73417dbafea4dc","user":{"login":"organisation","id":142723,"avatar_url":"https://avatars.githubusercontent.com/u/142723?v=2","gravatar_id":"d8db298b62716cc389471867da61ddb6","url":"https://api.github.com/users/organisation","html_url":"https://github.com/organisation","followers_url":"https://api.github.com/users/organisation/followers","following_url":"https://api.github.com/users/organisation/following{/other_user}"[...]
