---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/HouseTrip/HouseTrip-Web-App/pulls/6558
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - token accdc407aeef47781cdea71463f06b06db6fe432
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4933'
      X-Ratelimit-Reset:
      - '1408476853'
      Last-Modified:
      - Tue, 19 Aug 2014 19:03:30 GMT
      Etag:
      - '"febb5920fa649b8e230e9d0fd5264f38"'
      X-Oauth-Scopes:
      - repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/HouseTrip/HouseTrip-Web-App/pulls/6558","id":19973468,"html_url":"https://github.com/HouseTrip/HouseTrip-Web-App/pull/6558","diff_url":"https://github.com/HouseTrip/HouseTrip-Web-App/pull/6558.diff","patch_url":"https://github.com/HouseTrip/HouseTrip-Web-App/pull/6558.patch","issue_url":"https://api.github.com/repos/HouseTrip/HouseTrip-Web-App/issues/6558","number":6558,"state":"open","locked":false,"title":"Bookings:
        Purple booking bar and new tabs A/B test [#76291634]","user":{"login":"mrship","id":14839,"avatar_url":"https://avatars.githubusercontent.com/u/14839?v=2","gravatar_id":"b026b250773e2e4b35001bef3ac94ddc","url":"https://api.github.com/users/mrship","html_url":"https://github.com/mrship","followers_url":"https://api.github.com/users/mrship/followers","following_url":"https://api.github.com/users/mrship/following{/other_user}","gists_url":"https://api.github.com/users/mrship/gists{/gist_id}","starred_url":"https://api.github.com/users/mrship/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/mrship/subscriptions","organizations_url":"https://api.github.com/users/mrship/orgs","repos_url":"https://api.github.com/users/mrship/repos","events_url":"https://api.github.com/users/mrship/events{/privacy}","received_events_url":"https://api.github.com/users/mrship/received_events","type":"User","site_admin":false},"body":":lipstick:
        Turn the booking bar indigo when sticky\r\n:nail_care: New \"tabbed-style\"
        navigation for the full page PPP. The idea being we have similar navigation
        but a full page PPP instead of actual tabs.\r\n:open_mouth: CSS for indigo
        is for test purposes only; it _will_ get refactored!\r\n:memo: Sticky bar
        doesn''t show indigo in Safari; will fix if the test wins\r\n:memo: Had to
        add another loader gif because the transparent one[...]
