<!DOCTYPE html>
<html>
  <head>
    <title>Deploylist</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <header>
        <h1>Housetrip.com deploys</h1>
      </header>
      <section>
        <%= yield %>
      </section>
    </div>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </body>
</html>
