<!DOCTYPE html>
<html>
  <head>
    <title>Deploylist</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  </head>
  <body>

    <div class="container">
      <header>
        <h1>Housetrip deploys</h1>
      </header>

      <section>
        <%= yield %>
      </section>
    </div>

  </body>
</html>
